<template>
  <main
    class="content"
    v-if="isLoggedIn"
  >
    <span>
      Hi, {{ username }}
    </span>
    <form v-on:submit.prevent="handleSubmit()">
      <input
        type="text"
        placeholder="New Todo"
        v-model="newTodo"
      />
      <input
        type="text"
        placeholder="New Todo's time"
        v-model="newTime"
      >
      <button type="submit">Add</button>
    </form>
    <h2>Your Todos: {{ totalTodos }}</h2>
    <ul>
      <li
        v-for="(todo, i) in todos"
        :key="i"
        :class="{ isFinished: todo.isFinished}"
        @click="toggleStatus(i)"
      >
        {{ todo.todo }}, {{ todo.time }}
      </li>
    </ul>
  </main>
  <main
    class="content"
    v-else
  >
    <span>
      You are not logged in.
    </span>
    <button @click="handleClick()">Login</button>
  </main>
</template>

<script>
export default {
  name: 'TheContent',
  data() {
    return {
      isLoggedIn: false,
      username: 'Irham Nur Hakim',
      newTodo: '',
      newTime: '',
      todos: [
        {
          time: '04.30',
          todo: 'Bangun pagi',
          isFinished: false
        },
        {
          time: '08.00',
          todo: 'Berangkat kerja',
          isFinished: false
        },
        {
          time: '17.00',
          todo: 'Mengirim paket',
          isFinished: false
        }
      ]
    }
  },
  computed: {
    totalTodos() {
      return this.todos.length;
    }
  },
  watch: {
    todos: function(newTodos, oldTodos) {
      
    }
  },
  methods: {
    handleClick() {
      // akan dipanggil ketika user menekan button Login
      this.isLoggedIn = true;
    },
    handleSubmit() {
      // akan dipanggil ketika user melakukan submit di dalam form
      this.todos.push({
        time: this.newTime,
        todo: this.newTodo
      });
    },
    toggleStatus(index) {
      const todo = this.todos[index].todo;
      const time = this.todos[index].time;
      const isFinished = !this.todos[index].isFinished;

      this.todos.splice(index, 1, { // referensi https://developer.mozilla.org/id/docs/Web/JavaScript/Reference/Global_Objects/Array/splice
        todo,
        time,
        isFinished
      });
    }
  }
}
</script>

<style scoped>
.content {
  position: relative;
  top: 75px;
  height: 120vh;
}

.isFinished {
  color: gray;
  text-decoration: line-through;
}

</style>
