<template>
  <nav class="navbar" :class="{ 'navbar--is-scrolled' : isScrolled }">
    <button @click="toggleSidebar()">Menu</button>
  </nav>
</template>

<script>
export default {
  name: 'TheNavbar',
  data() {
    return {
      isScrolled: false
    }
  },
  mounted() {
    window.addEventListener('scroll', () => {
      const pos = window.scrollY;
      if (pos) {
        this.isScrolled = true;
      } else {
        this.isScrolled = false;
      }
    });

  },
  methods: {
    toggleSidebar() {
      this.$emit('toggle-sidebar');
    }
  }
}
</script>

<style scoped>
.navbar {
  background-color: rgb(35, 145, 145);
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 98;
  transition: background-color ease-in-out .2s;
}

.navbar--is-scrolled {
  background-color: rgb(158, 206, 221);
}

</style>
