<template>
  <div
    class="sidebar"
    v-if="isSidebarOpen"
  >
  </div>
</template>

<script>
export default {
  name: 'TheSidebar',
  props: {
    isSidebarOpen: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {

    }
  }
}
</script>

<style scoped>
.sidebar {
  background-color: #a5a5a5;
  position: fixed;
  top: 70px;
  width: 150px;
  height: 100%;
  z-index: 97;
}

</style>
