<template>
  <div id="app">
    <the-navbar
      @toggle-sidebar="toggleSidebar()"
    />
    <the-sidebar :isSidebarOpen="isSidebarOpen"/>
    <the-content />
  </div>
</template>

<script>
import axios from 'axios';

import TheNavbar from './components/TheNavbar';
import TheSidebar from './components/TheSidebar';
import TheContent from './components/TheContent';

export default {
  name: 'app',
  components: {
    TheNavbar: TheNavbar,
    TheSidebar: TheSidebar,
    TheContent // Fitur ES6, ada di course FreeCodeCamp
  },
  data() {
    return {
      isSidebarOpen: false,
      isLoggedIn: false,
      postArray: [],
    }
  },
  methods: {
    toggleSidebar() {
      this.isSidebarOpen = !this.isSidebarOpen;
    }
  }
}

</script>

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

</style>
